//div 
    h2.text-center Login 
    h2 (class="text-center) Login
    h2#id
    h2=autenticado
    if autenticado 
        p Usuario Autenticado 
    else 
        p Inicia Sesión


//p Inicia sesión

h1 Login

div
    if autenticado 
        p Bienvenid@ al Sistema de Bienes Raíces 
    else 
        p Por favor, ingresa tus datos para iniciar sesión

        